// BLUE
$color-a: #193e6d;

// DARK BLUE
$color-b : #1c395f;

// LIGHT GREY
$color-c : #ECECEC;

// BLACK
$black: #202020;

// WHITE
$white: #F1F1F1;

// FONTS
$font-a : 'Poppins', sans-serif;
$font-b : 'Merriweather', serif;

$padding_col : 20px;

