/* ========================================================================================= */
/* OBJECT - O CONTAINER */
/* ========================================================================================= */

.o-container{

    max-width: 100%;
    width: 1200px;
    display: block;
    margin: 0 auto;
    padding-left: ($padding_col/2);
    padding-right: ($padding_col/2);

}

/* ========================================================================================= */
/* END OBJECT - O CONTAINER */
/* ========================================================================================= */