/* ========================================================================================= */
/* COMPONENT - C FOOTER */
/* ========================================================================================= */
.c-footer{

    padding: 40px 0px;
    border-top: 1px solid $white;
    margin-top: 40vh;

    &__container{

        display: flex;

    }

    &__text{

        color: $white;
        display: block;
        width: 100%;
        text-align: center;

    }

}

/* ========================================================================================= */
/* END COMPONENT - C FOOTER */
/* ========================================================================================= */