/* ========================================================================================= */
/* SETTINGS */
/* ========================================================================================= */
/* ========================================================================================= */
/* END SETTINGS */
/* ========================================================================================= */
/* ========================================================================================= */
/* TOOLS */
/* ========================================================================================= */
/* ========================================================================================= */
/* TOOLS - FUNCTIONS */
/* ========================================================================================= */
/* ========================================================================================= */
/* END TOOLS - FUNCTIONS */
/* ========================================================================================= */
/* ========================================================================================= */
/* TOOLS - MIXINS */
/* ========================================================================================= */
/* ========================================================================================= */
/* END TOOLS - MIXINS */
/* ========================================================================================= */
/* ========================================================================================= */
/* END TOOLS */
/* ========================================================================================= */
/* ========================================================================================= */
/* GENERIC */
/* ========================================================================================= */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  outline: 0px solid;
  box-sizing: border-box;
}

*:hover, *:active, *:focus, *:visited,
*::after:hover,
*::after:active,
*::after:focus,
*::after:visited,
*::before:hover,
*::before:active,
*::before:focus,
*::before:visited {
  outline: 0px solid;
}

/* ========================================================================================= */
/* END GENERIC */
/* ========================================================================================= */
/* ========================================================================================= */
/* TAGS */
/* ========================================================================================= */
html,
body {
  font-size: 15px;
  line-height: 19px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  height: auto;
  background-color: #193e6d;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  color: #F1F1F1;
  padding: 0px;
  margin: 0px;
  text-transform: none;
}

p {
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
  font-size: inherit;
  line-height: inherit;
}

a {
  display: inline-block;
  width: auto;
  color: inherit;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  color: #F1F1F1;
}

/* ========================================================================================= */
/* END TAGS */
/* ========================================================================================= */
/* ========================================================================================= */
/* KEYFRAMES */
/* ========================================================================================= */
/* ========================================================================================= */
/* END KEYFRAMES */
/* ========================================================================================= */
/* ========================================================================================= */
/* OBJECTS */
/* ========================================================================================= */
/* ========================================================================================= */
/* OBJECT - O COL */
/* ========================================================================================= */
.o-col-12-12 {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 0px) and (max-width: 500px) {
  .o-col-12-12\@xs {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 501px) and (max-width: 1100px) {
  .o-col-12-12\@sm {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 1101px) {
  .o-col-12-12\@md {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.o-col-6-12 {
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 0px) and (max-width: 500px) {
  .o-col-6-12\@xs {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 501px) and (max-width: 1100px) {
  .o-col-6-12\@sm {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 1101px) {
  .o-col-6-12\@md {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* ========================================================================================= */
/* END OBJECT - O COL */
/* ========================================================================================= */
/* ========================================================================================= */
/* OBJECT - O CONTAINER */
/* ========================================================================================= */
.o-container {
  max-width: 100%;
  width: 1200px;
  display: block;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

/* ========================================================================================= */
/* END OBJECT - O CONTAINER */
/* ========================================================================================= */
/* ========================================================================================= */
/* OBJECT - O FONT */
/* ========================================================================================= */
.o-font-h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

@media (min-width: 1101px) {
  .o-font-h1 {
    font-size: 46px;
    line-height: 56px;
  }
}

@media (min-width: 501px) and (max-width: 1100px) {
  .o-font-h1 {
    font-size: 34px;
    line-height: 40px;
  }
}

@media (min-width: 0px) and (max-width: 500px) {
  .o-font-h1 {
    font-size: 34px;
    line-height: 40px;
  }
}

.o-font-h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

@media (min-width: 1101px) {
  .o-font-h2 {
    font-size: 40px;
    line-height: 48px;
  }
}

@media (min-width: 501px) and (max-width: 1100px) {
  .o-font-h2 {
    font-size: 30px;
    line-height: 38px;
  }
}

@media (min-width: 0px) and (max-width: 500px) {
  .o-font-h2 {
    font-size: 30px;
    line-height: 38px;
  }
}

.o-font-h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

@media (min-width: 1101px) {
  .o-font-h3 {
    font-size: 32px;
    line-height: 40px;
  }
}

@media (min-width: 501px) and (max-width: 1100px) {
  .o-font-h3 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 0px) and (max-width: 500px) {
  .o-font-h3 {
    font-size: 24px;
    line-height: 32px;
  }
}

.o-font-body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 1101px) {
  .o-font-body {
    font-size: 15px;
    line-height: 19px;
  }
}

@media (min-width: 501px) and (max-width: 1100px) {
  .o-font-body {
    font-size: 14px;
    line-height: 28px;
  }
}

@media (min-width: 0px) and (max-width: 500px) {
  .o-font-body {
    font-size: 14px;
    line-height: 18px;
  }
}

.o-font-p {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

@media (min-width: 1101px) {
  .o-font-p {
    font-size: 14px;
    line-height: 26px;
  }
}

@media (min-width: 501px) and (max-width: 1100px) {
  .o-font-p {
    font-size: 13px;
    line-height: 25px;
  }
}

@media (min-width: 0px) and (max-width: 500px) {
  .o-font-p {
    font-size: 13px;
    line-height: 25px;
  }
}

.o-font-button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 1101px) {
  .o-font-button {
    font-size: 16px;
    line-height: 18px;
  }
}

@media (min-width: 501px) and (max-width: 1100px) {
  .o-font-button {
    font-size: 15px;
    line-height: 17px;
  }
}

@media (min-width: 0px) and (max-width: 500px) {
  .o-font-button {
    font-size: 15px;
    line-height: 17px;
  }
}

.o-font-caption {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

@media (min-width: 1101px) {
  .o-font-caption {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (min-width: 501px) and (max-width: 1100px) {
  .o-font-caption {
    font-size: 13px;
    line-height: 19px;
  }
}

@media (min-width: 0px) and (max-width: 500px) {
  .o-font-caption {
    font-size: 13px;
    line-height: 19px;
  }
}

/* ========================================================================================= */
/* END OBJECT - O FONT */
/* ========================================================================================= */
/* ========================================================================================= */
/* END OBJECTS */
/* ========================================================================================= */
/* ========================================================================================= */
/* COMPONENTS */
/* ========================================================================================= */
/* ========================================================================================= */
/* COMPONENT - C COL CONTENT COL IMAGE */
/* ========================================================================================= */
.c-col-content-col-image {
  z-index: 999;
  margin-bottom: 150px;
  padding: 60px 0px;
  position: relative;
  overflow: hidden;
}

@media (min-width: 1101px) {
  .c-col-content-col-image {
    padding: 150px 0px;
  }
}

.c-col-content-col-image__container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
}

.c-col-content-col-image--reverse .c-col-content-col-image__container {
  flex-direction: row-reverse;
}

.c-col-content-col-image__wrapper-texts {
  display: block;
  width: 100%;
  padding-right: 70px;
}

@media (min-width: 501px) {
  .c-col-content-col-image__wrapper-texts {
    padding-right: 40px;
  }
}

.c-col-content-col-image--reverse .c-col-content-col-image__wrapper-texts {
  padding-left: 70px;
  padding-right: 0px;
  text-align: right;
}

@media (min-width: 501px) {
  .c-col-content-col-image--reverse .c-col-content-col-image__wrapper-texts {
    padding-right: 40px;
    padding-right: 0px;
  }
}

.c-col-content-col-image__wrapper-caption {
  margin-bottom: 18px;
  position: relative;
  display: inline-block;
}

.c-col-content-col-image__caption-line {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  height: 1px;
  background-color: #F1F1F1;
  width: 40px;
  opacity: 0;
  transform: translateX(20px);
  transition: all 0.6s ease-in-out;
  transition-delay: 0s;
}

.c-col-content-col-image--reverse .c-col-content-col-image__caption-line {
  transform: translateX(-40px);
  transition-delay: 0.1s;
}

.is-visible .c-col-content-col-image__caption-line {
  opacity: 1;
  transform: translateX(0px);
}

.c-col-content-col-image__caption {
  color: #F1F1F1;
  display: inline-block;
  position: relative;
  padding-left: 60px;
  opacity: 0;
  transform: translateX(40px);
  transition: all 0.6s ease-in-out;
  transition-delay: 0.1s;
}

.c-col-content-col-image--reverse .c-col-content-col-image__caption {
  transform: translateX(-20px);
  transition-delay: 0s;
}

.is-visible .c-col-content-col-image__caption {
  opacity: 1;
  transform: translateX(0px);
}

.c-col-content-col-image__wrapper-title {
  padding-bottom: 40px;
  opacity: 0;
  transform: translateX(20px);
  transition: all 0.6s ease-in-out;
  transition-delay: 0.2s;
}

.c-col-content-col-image--reverse .c-col-content-col-image__wrapper-title {
  transform: translateX(-20px);
}

.is-visible .c-col-content-col-image__wrapper-title {
  opacity: 1;
  transform: translateX(0px);
}

.c-col-content-col-image__title {
  color: #F1F1F1;
}

.c-col-content-col-image__wrapper-content {
  padding-bottom: 30px;
  opacity: 0;
  transform: translateX(30px);
  transition: all 0.6s ease-in-out;
  transition-delay: 0.3s;
}

.c-col-content-col-image--reverse .c-col-content-col-image__wrapper-content {
  transform: translateX(-30px);
}

.is-visible .c-col-content-col-image__wrapper-content {
  opacity: 1;
  transform: translateX(0px);
}

.c-col-content-col-image__content {
  color: #F1F1F1;
}

.c-col-content-col-image__wrapper-button {
  padding-bottom: 70px;
  opacity: 0;
  transform: translateX(40px);
  transition: all 0.6s ease-in-out;
  transition-delay: 0.4s;
}

.c-col-content-col-image--reverse .c-col-content-col-image__wrapper-button {
  transform: translateX(-40px);
}

.is-visible .c-col-content-col-image__wrapper-button {
  opacity: 1;
  transform: translateX(0px);
}

@media (min-width: 1101px) {
  .c-col-content-col-image__wrapper-button {
    padding-bottom: 30px;
  }
}

.c-col-content-col-image__button {
  color: #F1F1F1;
  padding-bottom: 5px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  position: relative;
}

.c-col-content-col-image__button::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: #F1F1F1;
  transition: all 0.4s ease-in-out;
}

.c-col-content-col-image__button:hover::before {
  width: 80%;
}

.c-col-content-col-image__wrapper-image {
  opacity: 0;
  transform: scale(0.98);
  transition: all 0.6s ease-in-out;
  transition-delay: 0.1s;
}

.is-visible .c-col-content-col-image__wrapper-image {
  opacity: 1;
  transform: scale(1);
}

.c-col-content-col-image__bg-box {
  width: 85%;
  top: 0px;
  left: 0px;
  position: absolute;
  height: 100%;
  display: block;
  z-index: 1;
  background-color: #1c395f;
  transform: translateX(-40%);
  transition: all 0.6s ease-in-out;
  transition-delay: 0s;
}

.is-visible .c-col-content-col-image__bg-box {
  transform: translateX(0px);
}

.c-col-content-col-image--reverse .c-col-content-col-image__bg-box {
  right: 0px;
  left: auto;
  transform: translateX(40%);
}

.c-col-content-col-image--reverse.is-visible .c-col-content-col-image__bg-box {
  transform: translateX(0%);
}

@media (min-width: 1101px) {
  .c-col-content-col-image__bg-box {
    width: 75%;
  }
}

/* ========================================================================================= */
/* END COMPONENT - C COL CONTENT COL IMAGE */
/* ========================================================================================= */
/* ========================================================================================= */
/* COMPONENT - C FOOTER */
/* ========================================================================================= */
.c-footer {
  padding: 40px 0px;
  border-top: 1px solid #F1F1F1;
  margin-top: 40vh;
}

.c-footer__container {
  display: flex;
}

.c-footer__text {
  color: #F1F1F1;
  display: block;
  width: 100%;
  text-align: center;
}

/* ========================================================================================= */
/* END COMPONENT - C FOOTER */
/* ========================================================================================= */
/* ========================================================================================= */
/* COMPONENT - C HEADER */
/* ========================================================================================= */
.c-header {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: auto;
  z-index: 9997;
  transition: all 0.6s ease-in-out;
  transform: translateY(0px);
}

.c-header.has-transform {
  transform: translateY(-101%);
}

.c-header__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 40px;
}

.c-header__brand {
  width: 60px;
  display: block;
  max-width: 100%;
  margin: 0px;
}

.c-header__wrapper-hamburguer {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.c-header__hamburguer {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.c-header__hamburguer-icon {
  transition: all 0.2s ease-in-out;
  width: 36px;
  background-color: #F1F1F1;
  height: 1px;
  border-radius: 0px;
  position: relative;
  display: block;
}

.is-active .c-header__hamburguer-icon {
  background-color: transparent;
}

.c-header__hamburguer-icon::before, .c-header__hamburguer-icon::after {
  content: "";
  position: absolute;
  left: 0px;
  width: 36px;
  height: 1px;
  border-radius: 0px;
  background-color: #F1F1F1;
  transition: all 0.2s ease-in-out;
  transform: rotate(0deg);
  transform-origin: center;
}

.c-header__hamburguer-icon::before {
  top: -7px;
  opacity: 1;
  visibility: visible;
}

.is-active .c-header__hamburguer-icon::before {
  top: 0px;
  transform: rotate(45deg);
  background-color: #F1F1F1;
}

.c-header__hamburguer-icon::after {
  top: 7px;
  opacity: 1;
  visibility: visible;
}

.is-active .c-header__hamburguer-icon::after {
  top: 0px;
  transform: rotate(-45deg);
  background-color: #F1F1F1;
}

/* ========================================================================================= */
/* END COMPONENT - C HEADER */
/* ========================================================================================= */
/* ========================================================================================= */
/* COMPONENT - C IMAGE */
/* ========================================================================================= */
.c-image {
  display: block;
  width: 100%;
  margin-bottom: 150px;
}

.c-image__wrapper-image {
  display: block;
  width: 100%;
  position: relative;
  height: 100vh;
  opacity: 0;
  transition: all 0.6s ease-in-out;
  transition-delay: 0s;
}

.is-visible .c-image__wrapper-image {
  opacity: 1;
}

.c-image__image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c-image--small {
  width: 75%;
}

.c-image--right {
  margin-left: auto;
  margin-right: 0px;
}

/* ========================================================================================= */
/* END COMPONENT - C IMAGE */
/* ========================================================================================= */
/* ========================================================================================= */
/* COMPONENT - C MENU DROPDOWN */
/* ========================================================================================= */
.c-menu-dropdown {
  transition: all 1.2s cubic-bezier(0.19, 0.77, 0.22, 1);
  transform: translateY(-101%);
  z-index: 9996;
  position: fixed;
  right: 0;
  top: 0px;
  width: 100%;
  background-color: #202020;
  height: 100vh;
  display: flex;
  align-items: center;
}

.c-menu-dropdown.is-active {
  transform: translateY(0%);
}

.c-menu-dropdown__wrapper-all {
  width: 100%;
}

.c-menu-dropdown__wrapper-inner {
  width: 100%;
}

.c-menu-dropdown__menu {
  width: 100%;
  text-align: center;
}

.c-menu-dropdown__menu-item {
  position: relative;
  padding-right: 0px;
  padding-bottom: 30px;
}

.c-menu-dropdown__menu-item-link {
  color: #F1F1F1;
  font-size: 64px;
  line-height: 92px;
  text-decoration: none;
  font-weight: 900;
}

/* ========================================================================================= */
/* END COMPONENT - C MENU DROPDOWN */
/* ========================================================================================= */
/* ========================================================================================= */
/* COMPONENT - C TITLE AND CONTENT */
/* ========================================================================================= */
.c-title-and-content {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 150px;
}

.c-title-and-content__wrapper-title {
  width: 100%;
  display: block;
  padding-bottom: 20px;
}

@media (min-width: 1101px) {
  .c-title-and-content__wrapper-title {
    padding-bottom: 40px;
  }
}

.c-title-and-content__title {
  width: 100%;
  display: block;
  color: #F1F1F1;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-in-out;
  transition-delay: 0s;
}

.is-visible .c-title-and-content__title {
  opacity: 1;
  transform: translateY(0px);
}

.c-title-and-content__wrapper-content {
  width: 100%;
  display: block;
}

.c-title-and-content__content {
  width: 100%;
  display: block;
  color: #F1F1F1;
  text-align: center;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease-in-out;
  transition-delay: 0.2s;
}

.is-visible .c-title-and-content__content {
  opacity: 1;
  transform: translateY(0px);
}

/* ========================================================================================= */
/* END COMPONENT - C TITLE AND CONTENT */
/* ========================================================================================= */
/* ========================================================================================= */
/* END COMPONENTS */
/* ========================================================================================= */
/* ========================================================================================= */
/* SCOPES */
/* ========================================================================================= */
.s-debug [class] {
  outline: 3px solid lightgrey;
}

.s-debug [class*="__"] {
  outline-color: grey;
}

.s-debug [class*="--"] {
  outline-color: #484848;
}

.s-debug [class^="o-"],
.s-debug [class*=" o-"] {
  outline-color: orange;
}

.s-debug [class^="c-"],
.s-debug [class*=" c-"] {
  outline-color: lightseagreen;
}

.s-debug [class^="u-"],
.s-debug [class*=" u-"] {
  outline-color: lightcoral;
}

.s-debug [class^="is-"],
.s-debug [class*=" is-"],
.s-debug [class^="has-"],
.s-debug [class*=" has-"] {
  outline-color: yellow;
}

.s-debug [class^="js-"],
.s-debug [class*=" js-"] {
  outline-color: darkmagenta;
}

.s-debug [class^="t-"],
.s-debug [class*=" t-"] {
  outline-color: darkblue;
}

.s-debug [class^="s-"],
.s-debug [class*=" s-"] {
  outline-color: darkorange;
}

.s-debug [class^="qa-"],
.s-debug [class*=" qa-"] {
  outline-color: lightpink;
}

.s-debug [class^="_"] {
  outline-color: red;
}

.s-debug [class*="@"] {
  outline-color: greenyellow;
}

/* ========================================================================================= */
/* END SCOPES */
/* ========================================================================================= */
/* ========================================================================================= */
/* EXTERNAL */
/* ========================================================================================= */
/* ========================================================================================= */
/* END EXTERNAL */
/* ========================================================================================= */
/* ========================================================================================= */
/* UTILITIES */
/* ========================================================================================= */
.u-none {
  display: none !important;
}

@media (min-width: 1101px) {
  .u-none\@md {
    display: none !important;
  }
}

@media (min-width: 501px) and (max-width: 1100px) {
  .u-none\@sm {
    display: none !important;
  }
}

@media (min-width: 0px) and (max-width: 500px) {
  .u-none\@xs {
    display: none !important;
  }
}

@media print {
  .u-none\@print {
    display: none !important;
  }
}

/* ========================================================================================= */
/* END UTILITIES */
/* ========================================================================================= */
